# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Environment
# ===============================
.env
.env.*

# ===============================
# Composer
# ===============================
vendor/

# ===============================
# Node
# ===============================
node_modules/

# ===============================
# Docker
# ===============================
docker/mysql/data/
docker/postgres/data/

# ===============================
# Cache
# ===============================
.cache/
tmp/